<%= @stockitem.catalogitem.description %>
<%= @shoesizes[@stockitem.internal_size] %> (<%= @region %>)

<%= form_for @bid, url: {action: "create"} do |b| %>
    New bid (€): <br />
    <%= b.text_field :bid_price, required: true, autofocus: true %>
    <div class="form-actions">
        <%= b.submit "Next", class: 'knop-1' %>
    </div>
<% end %>

