<!-- <div class="development">
  developer info: <br />
  <%# if current_user %>
    current_user: <%#= current_user.email  %>
  <%# else %>
    no user logged in
  <%# end %>
</div> -->
<div class="justify">
  <h1>Market</h1>
  <%= button_to "I am Selling!", catalogitems_path, method: "get", class: "knop-1" %>
</div>
<div class="container-fluid">
  <div class="row">
    <% highest_bids_index = 0 %>
    <% @stockitems.each do |s| %>
      <div class="col-xs-12 col-sm-6 tst-stockitem">
        <div class="catalog-title parent-header">
          <div class="catalog-description-head">
            <%= s.catalogitem.description %>, Size: <%= @shoesizes[s.internal_size] %> (<%= @region %>)
          </div>
          <% if user_signed_in? %>
            <% if s.usersell_id == @current_user.id %>
              <button class="btn-small">
                <%= link_to 'Remove',  stockitem_path(s),  method: :delete, data: { confirm: 'Are you sure?' } %>
              </button>
            <% end %>
          <% end %>
        </div>
        <div>
        <%= image_tag s.catalogitem.photo, class: "img-responsive"%>
        </div>
        <div class="catalog-title parent">
          <div class="catalog-description">
            Sell: € <%= s.sell_price %> Highest Bid: € <%= @stockitems_highestbids[highest_bids_index] %>
            <% highest_bids_index += 1 %>
          </div>
          <%= button_to "New Bid", stockitem_path(s), method: "get", class: "btn-small" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

