 <div class="development">
  developer info: <br />
  <% if current_user %>
    current_user: <%= current_user.email  %>
  <% else %>
    no user logged in
  <% end %>
</div>
<div class="image">
  <%= image_tag @stockitem.catalogitem.photo, class: "img-responsive"%>
</div>
<div class="container-fluid">
      <div class="text-box1">
        Try to buy <%= @stockitem.catalogitem.description %>, size <%= @shoesizes[@stockitem.internal_size] %> (<%= @region %>)
      </div>
  <div class="row stockitem-data">
    <div class="col-xs-4 col-sm-3">
      <ul>
        <li>Selling price:</li>
        <li>Brand:</li>
        <li>Description:</li>
        <li>Release Date:</li>
        <li>Product Code:</li>
        <li>Colour:</li>
        <li>Size:</li>
      </ul>
    </div>
    <div class="col-xs-8 col-sm-6">
        <ul>
          <li>€ <%= @stockitem.sell_price %></li>
          <li><%= @stockitem.catalogitem.brand %></li>
          <li><%= @stockitem.catalogitem.description %></li>
          <li><%= @stockitem.catalogitem.release_date %></li>
          <li><%= @stockitem.catalogitem.product_code %></li>
          <li><%= @stockitem.catalogitem.colour %></li>
          <li><%= @shoesizes[@stockitem.internal_size] %> (<%= @region %>)</li>
        </ul>
    </div>
    <div class="col-sm-3 hidden-xs">
      <div class="text-box1">
        Bid History:
      </div>
      <div>
        <% @bids.each do |b| %>
          <div>
            € <%= b.bid_price %>
            <% if user_signed_in? %>
              <% if b.userbuy_id == @current_user.id %>
                <button class="btn-small">
                  <%= link_to 'delete',  bid_path(b),  method: :delete, data: { confirm: 'Are you sure?' } %>
                </button>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= button_to "New Bid", new_stockitem_bids_path(@stockitem), method: "get", class: "knop-1" %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
      <div class="text-box1">
        Highest bid:
      </div>
      <div>
        <% @bids.each do |b| %>
          <div>
            € <%= b.bid_price %>
            <% if user_signed_in? %>
              <% if b.userbuy_id == @current_user.id %>
                <button class="btn-small">
                  <%= link_to 'delete',  bid_path(b),  method: :delete, data: { confirm: 'Are you sure?' } %>
                </button>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= button_to "New Bid", new_stockitem_bids_path(@stockitem), method: "get", class: "knop-1" %>
    </div>
  </div>
</div>
