<% if current_user.admin %>
  <div class="development">
    developer info: <br />
    <% if current_user %>
      current_user: <%= current_user.email  %>
      admin: <%= current_user.admin %>
    <% else %>
      no user logged in
    <% end %>
  </div>
  <h1>Users</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Country</th>
      <th>Nr. of bids</th>
      <th>Nr. of stockitems</th>
      <th>buy orders</th>
      <th>sell orders</th>
      <th></th>
    </tr>
    <% @users.each do |u| %>
      <tr>
        <td><%= u.first_name %> <%= u.last_name  %></td>
        <td>
          <% if u.admin %>
            Administrator
          <% else %>
            Standard User
          <% end %>
        </td>
        <td><%= u.country %></td>
        <td><%= Bid.where(userbuy_id: u).count %></td>
        <td><%= Stockitem.where(usersell_id: u).count %></td>
        <td>
          <% @buy_orders = [] %>
          <% Bid.where(userbuy_id: u).each do |b|%>
            <% @buy_order = Order.where(bid_id: b) %>
            <% if @buy_order.any? %>
              <% @buy_orders << @buy_order %>
            <% end %>
          <% end %>
          <%= @buy_orders.count %>
        </td>
        <td>
          <% @sell_orders = [] %>
          <% Stockitem.where(usersell_id: u).each do |b|%>
            <% @sell_order = Order.where(stockitem_id: b) %>
            <% if @sell_order.any? %>
              <% @sell_orders << @sell_order %>
            <% end %>
          <% end %>
          <%= @sell_orders.count %>
        </td>
        <td><%= button_to "Details", user_path(u), method: "get", class: "btn-small"%></td>
      </tr>
    <% end %>
  </table>
  <br />
  <button class="knop-1"><%= link_to "home", root_path %></button>
<% else %>
  <% flash[:alert] = "You're not auhtorised" %>
  <%= button_to "Home", root_path, method: "get" %>
<% end %>
