<!--  <div class="development">
  developer info: <br />
  <%# if current_user %>
    current_user: <%#= current_user.email  %>
  <%# else %>
    no user logged in
  <%# end %>
</div> -->
<h1>Catalogue</h1>
<div class="container-fluid">
  <div class="row">
    <% @catalogitems.each do |c| %>
      <div class="col-xs-12 col-sm-6 tst">
        <%= image_tag c.photo, class: "img-responsive"%>
        <div class="catalog-title parent">
          <div class="catalog-description">
            <%= c.description %>
          </div>
          <%= button_to "Sell", new_stockitem_path(c), method: "get", class: "btn-small" %>
          <% if user_signed_in? && current_user.admin %>
            <%= button_to "Edit", edit_catalogitem_path(c), method: "get", class: "btn-small" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if  user_signed_in? && current_user.admin %>
  <%= button_to "New", new_catalogitem_path, method: "get", class: "knop-1" %>
<% end %>
<%= button_to "home", root_path, method: "get", class: "knop-1" %>
